<%- include('partials/header'); -%>

<header>
  <div class="project">
    <img src="/home-icon.png" alt="">
  </div>
  <div class="headings">
    <h2>Find a team</h2>
    <h3>Choosing the Right Members for Success</h3>
    <a href="/x_page" class="btn">Try it yourself</a>
  </div>
</header>

<%- include('partials/footer'); -%>